<a href="https://colab.research.google.com/github/olgOk/Tennis-Ace/blob/master/TennisAce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tennis Ace Regression Model

## Project Goals

We will create a linear regression model that predicts the outcome for a tennis player based on their playing habits. By analyzing and modeling the Association of Tennis Professionals (ATP) data, we will determine what it takes to be one of the best tennis players in the world.

First, import libraries/frameworks

In [10]:
#@title
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
cd drive

/content/drive

In [18]:
cd  My\ Drive

/content/drive/My Drive

In [19]:
cd tennis_ace_starting/

/content/drive/My Drive/tennis_ace_starting

We will load csv file and make a DataFrame out of it. The first step is to investigate and analyze parameters given. For this purpose, use ```DataFrame()``` method from Pandas framework.

As we can see, the following parameters are given:


1.   Identifying Data


*   Player: name of the tennis player
*   Year: year data was recorded


2.   Service Game Columns (Offensive)

*   Aces: number of serves by the player where the receiver does not touch the ball
*   DoubleFaults: number of times player missed both first and second serve attempts

*   FirstServe: % of first-serve attempts made
*   FirstServePointsWon: % of first-serve attempt points won by the player
*   SecondServePointsWon: % of second-serve attempt points won by the player
*   BreakPointsFaced: number of times where the receiver could have won service game of the player
*   BreakPointsSaved: % of the time the player was able to stop the receiver from winning service game when they had the chance
*   ServiceGamesPlayed: total number of games where the player served
*   ServiceGamesWon: total number of games where the player served and won
*   TotalServicePointsWon: % of points in games where the player served that they won

3. Return Game Columns (Defensive)
*   FirstServeReturnPointsWon: % of opponents first-serve points the player was able to win
*   SecondServeReturnPointsWon: % of opponents second-serve points the player was able to win
*   BreakPointsOpportunities: number of times where the player could have won the service game of the opponent
*   BreakPointsConverted: % of the time the player was able to win their opponent’s service game when they had the chance
*   ReturnGamesPlayed: total number of games where the player’s opponent served
*   ReturnGamesWon: total number of games where the player’s opponent served and the player won
*   ReturnPointsWon: total number of points where the player’s opponent served and the player won
*   TotalPointsWon: % of points won by the player
4. Outcomes
*   Wins: number of matches won in a year
*   Losses: number of matches lost in a year
*   Winnings: total winnings in USD($) in a year
*   Ranking: ranking at the end of year

In [0]:
# load and investigate the data:
data = pd.read_csv("tennis_stats.csv")

In [25]:
# perform exploratory analysis:

df = pd.DataFrame(data=data)
df.head()

                 Player  Year  FirstServe  ...  Losses  Winnings  Ranking
0           Pedro Sousa  2016        0.88  ...       2     39820      119
1       Roman Safiullin  2017        0.84  ...       1     17334      381
2           Pedro Sousa  2017        0.83  ...       1    109827      119
3   Rogerio Dutra Silva  2010        0.83  ...       0      9761      125
4  Daniel Gimeno-Traver  2017        0.81  ...       1     32879      272

[5 rows x 24 columns]